
RewriteEngine on
RewriteCond %{HTTP_HOST} ^tcrm.web-ali.ru$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.tcrm.web-ali.ru$
RewriteCond %{REQUEST_URI} !frontend/web/
RewriteRule (.*) /frontend/web/$1 [L]

RewriteCond %{HTTP_HOST} ^admin.tcrm.web-ali.ru$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.admin.tcrm.web-ali.ru$
RewriteCond %{REQUEST_URI} !backend/web/
RewriteRule (.*) /backend/web/$1 [L]